:root {
  --color_normal: #5a5149;
  --color_hover: #AB794E;
  --color_active: #A56732;
}
.footer__block{
    background-color: rgba(255, 255, 255, 0.559);
    max-width: 100%;
    padding: 50px 0px 50px 0px;
}



.footer__logotype{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo{
    max-width: 100%;
    margin-right: 5px;
}

.footer__title{
    color: var(--color_active);
    font-size: 18px;
}

/* ---------contact info--------- */
.contact__block{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.contact__phone{
    text-decoration: none;
    color: var(--color_normal);
}
.contact__phone:hover{
    color: var(--color_hover);
}
.contact__phone:active{
    color: var(--color_active);
}

.contact__mail{
    text-decoration: none;
    color: var(--color_normal);
}
.contact__mail:hover{
    color: var(--color_hover);
}
.contact__mail:active{
    color: var(--color_active);
}