body{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    max-width: 1000px;
}
h3{
    margin: 0;
    padding: 0;
}

/* ----BLOCK - main---- */

.main__block{
    margin-top: 50px;
}
.section_ul{
    padding: 0;
}
.section_li{
    list-style: none;
    border: 1px solid #0000007d;
    padding: 5px 10px 0px;
    margin-bottom: 10px; 
    border-radius: 10px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}